@import "../../shared.scss";
@import "../../assets/font/font.scss";

%paddingTitle {
  @media only screen and (max-width: $mobileBreakPoint) {
  }

  @media only screen and (min-width: $mobileBreakPoint + 1) {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 70px;
  }
}

.AccountDashboardPage {
  .Overview {
    @extend %paddingTitle;

    .Title {
      color: $darkblue;
      @extend %fontHeader;
      @extend %fontBold;
      border-bottom: 1px solid $lightgrey;

      @media only screen and (max-width: $mobileBreakPoint) {
      }

      @media only screen and (min-width: $mobileBreakPoint + 1) {
        padding-bottom: 10px;
      }
    }

    .OverviewContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      @media only screen and (max-width: $mobileBreakPoint) {
      }

      @media only screen and (min-width: $mobileBreakPoint + 1) {
        padding-top: 25px;
      }

      .MyRank {
        position: relative;
        @extend %fontBold;
        @extend %fontHeader;
        color: $brown;
        text-align: right;
        border: 1px solid $brown;
        white-space: nowrap;

        @media only screen and (max-width: $mobileBreakPoint) {
        }

        @media only screen and (min-width: $mobileBreakPoint + 1) {
          padding: 30px 65px 30px 10px;
          margin-right: 70px;
          margin-bottom: 50px;
          margin-top: 50px;
        }

        .RankImg {
          position: absolute;

          @media only screen and (max-width: $mobileBreakPoint) {
          }

          @media only screen and (min-width: $mobileBreakPoint + 1) {
            $sizeRank: 120px;
            right: -$sizeRank/2;
            top: -$sizeRank/2;
          }
        }
      }

      .Statistics {
        min-width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        .Money,
        .People {
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
          padding: 15px 20px;
        }

        .Text {
          white-space: nowrap;
          color: $darkblue;
          padding-top: 7px;
        }

        .MoneyContainer {
          :first-child {
            margin-bottom: 25px;
          }
          .Money {
            .Number {
              color: $brown;
              @extend %fontSemiBold;

              @media only screen and (max-width: $mobileBreakPoint) {
              }

              @media only screen and (min-width: $mobileBreakPoint + 1) {
                font-size: 33px;
              }
            }
          }
        }

        .PeopleContainer {
          :first-child {
            margin-bottom: 25px;
          }
          .People {
            .Number {
              color: $blue;
              @extend %fontSemiBold;
              @media only screen and (max-width: $mobileBreakPoint) {
              }

              @media only screen and (min-width: $mobileBreakPoint + 1) {
                font-size: 33px;
              }
            }
          }
        }
      }
    }
  }
  .RevenueChart {
    @extend %paddingTitle;

    @media only screen and (max-width: $mobileBreakPoint) {
    }

    @media only screen and (min-width: $mobileBreakPoint + 1) {
      padding-bottom: 70px;
    }
    .Title {
      @extend %fontSemiBold;
      @extend %fontHeader;
      color: $lightblue;
      padding-bottom: 15px;

      @media only screen and (max-width: $mobileBreakPoint) {
      }

      @media only screen and (min-width: $mobileBreakPoint + 1) {
      }
    }

    .Chart {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      padding: 20px 20px 0 20px;
    }
  }

  .RevenueTable {
    @extend %paddingTitle;

    @media only screen and (max-width: $mobileBreakPoint) {
    }

    @media only screen and (min-width: $mobileBreakPoint + 1) {
    }
    .Title {
      @extend %fontSemiBold;
      @extend %fontHeader;
      color: $lightblue;
      padding-bottom: 15px;
    }

    .Table {
      width: 100%;
      text-align: center;
      margin: auto;
      border-collapse: collapse;

      .FirstCell {
        width: 16%;
        padding-left: 5px;
        padding-right: 5px;
      }
      .EqualCell {
        width: 7%;
        padding-left: 5px;
        padding-right: 5px;
      }

      thead tr th {
        background-color: $gold;
        color: white;
        padding: 15px 0px;
      }

      tbody tr td {
        padding: 15px 0px;
        color: black;
        border-bottom: 1px solid $lightgrey;
      }
    }
  }

  .Member {
    @extend %paddingTitle;

    @media only screen and (max-width: $mobileBreakPoint) {
    }

    @media only screen and (min-width: $mobileBreakPoint + 1) {
    }

    .Title {
      @extend %fontSemiBold;
      @extend %fontHeader;
      color: $lightblue;
      padding-bottom: 15px;
    }

    .Status {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      div {
        padding-bottom: 5px;
        margin-bottom: 20px;
        &.active {
          border-bottom: 3px solid $brown;
        }
        &:hover {
          cursor: pointer;
        }
      }

      @media only screen and (max-width: $mobileBreakPoint) {
      }

      @media only screen and (min-width: $mobileBreakPoint + 1) {
        :first-child {
          margin-right: 150px;
        }
      }
    }

    .Table {
      width: 100%;
      text-align: center;
      margin: auto;
      border-collapse: collapse;

      thead tr th {
        background-color: $gold;
        color: white;
        padding: 15px 0px;
        border: none;
      }
      tbody tr td {
        padding: 15px 0px;
        color: black;
        border-bottom: 1px solid $lightgrey;
      }
    }
  }
  .Text {
    text-align: center;
    font-size: 18px;
  }

  .level {
    margin-top: 10px;
    color: #3694fc;
    background-color: white;
    font-size: 25px;
  }
}
