.Video {
  background-image: url('../../assets/images/video_background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 20px 0;
}
