@import '../../shared.scss';

.Video {
  background-image: url('../../assets/images/video_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 20px 0;
}

.InfoCarousel {
  @media only screen and (max-width: $mobileBreakPoint) {
    padding: 25px 15px;
  }

  @media only screen and (min-width: $mobileBreakPoint + 1) {
    padding: 75px 0;
  }

  .InfoCardContainer {
    display: flex;
    align-items: center;
    padding: 10px 0;

    .InfoText {
      background-color: white;
      z-index: 1;
      box-shadow: 6px 8px 15px 0px rgba(213, 158, 41, 0.1);

      @media only screen and (max-width: $mobileBreakPoint) {
        padding: 5px 15px;
        margin: 20px;
        max-width: 291px;
        max-height: 203px;
      }

      @media only screen and (min-width: $mobileBreakPoint + 1) {
        padding: 20px;
        margin-right: -35px;
        max-width: 436px;
        max-height: 304px;
      }

      .Title {
        @extend %fontHeader;
      }

      .Subtitle {
      }

      .Description {
        padding-top: 20px;
      }
    }

    .Image {
      @media only screen and (max-width: $mobileBreakPoint) {
        max-width: 242px;
        max-height: 163px;
      }

      @media only screen and (min-width: $mobileBreakPoint + 1) {
        max-width: 550px;
        max-height: 372px;
      }
    }
  }
}

.Quote {
  background-image: url('../../assets/images/quote_background.svg');
  background-size: contain;
  background-position: center center;
  @extend %fontBold;
  color: $brown;
  text-align: center;
  white-space: pre-line;
  max-width: 1103px;
  box-sizing: border-box;
  margin: auto;
  position: relative;

  span {
    color: $grey;
    line-height: 1px;
    position: absolute;
  }

  @media only screen and (max-width: $mobileBreakPoint) {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 11px;
    span {
      font-size: 25px;
      margin-top: 10px;
      margin-left: 3px;

      &:first-child {
        margin-left: -13px;
      }
    }
  }

  @media only screen and (min-width: $mobileBreakPoint + 1) {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    span {
      font-size: 80px;
      margin-top: 30px;
      margin-left: 5px;

      &:first-child {
        margin-left: -35px;
      }
    }
  }
}

.CourseCarousel {
  .InfoCardContainer {
    max-width: 260px;
  }
}
