@import '../../shared.scss';

.CourseBlock {
  @media only screen and (max-width: $mobileBreakPoint) {
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media only screen and (min-width: $mobileBreakPoint + 1) {
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
  }

  .CourseName {
    color: $darkblue;
    border-bottom: 1px solid $lightgrey;
    @extend %fontHeader;
    text-align: left;

    @media only screen and (max-width: $mobileBreakPoint) {
      padding-bottom: 5px;
    }

    @media only screen and (min-width: $mobileBreakPoint + 1) {
      padding-bottom: 7px;
      margin-bottom: 20px;
    }
  }

  .CoursesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
