@import '../../shared.scss';

.CourseBlock {
  padding-bottom: 70px;

  .Title {
    @extend %fontHeader;
    padding-bottom: 10px;
    border-bottom: 1px solid $darkgrey;
    margin-bottom: 20px;
  }

  .CoursesContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
