@import '../../shared.scss';

.CourseCarousel {
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $mobileBreakPoint) {
    padding-bottom: 50px;
  }

  @media only screen and (min-width: $mobileBreakPoint + 1) {
    padding-bottom: 80px;

    .InfoCardContainer {
      margin-bottom: 10px;
    }
  }

  .CourseBackground {
    width: auto;
    height: 100%;
    margin-bottom: -280px;
  }

  .InfoCardContainer {
    width: 240px;
    margin-left: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: white;
    img {
      width: 100%;
    }
    .Level {
      position: absolute;
      top: 10px;
      left: 20px;
      padding: 5px 10px;
      border: 1px solid $gold;
      @extend %fontSemiBold;
      color: white;
      background-color: $gold;
      border-radius: 28px;

      @media only screen and (max-width: $mobileBreakPoint) {
        font-size: 10px;
      }

      @media only screen and (min-width: $mobileBreakPoint + 1) {
        font-size: 12px;
      }
    }

    .Title {
      @extend %fontMedium;
      padding: 15px;

      @media only screen and (max-width: $mobileBreakPoint) {
        font-size: 14px;
      }

      @media only screen and (min-width: $mobileBreakPoint + 1) {
        font-size: 18px;
        height: 70px;
      }
    }

    .PayContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;

      .PayNow {
        text-align: center;
        padding: 10px 25px;
        border: 1px solid $gold;
        @extend %fontSemiBold;
        color: white;
        background-color: $gold;
        border-radius: 28px;
      }
      @media only screen and (max-width: $mobileBreakPoint) {
        font-size: 12px;
      }

      @media only screen and (min-width: $mobileBreakPoint + 1) {
        font-size: 14px;
      }
    }
  }
}

.CourseTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CourseTitle {
  text-align: center;
  line-height: 1.3;
  min-width: 80%;

  .Title {
    @extend %fontBold;
  }
  .Note {
    @extend %fontMedium;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media only screen and (max-width: $mobileBreakPoint) {
    padding-top: 10px;
    padding-bottom: 10px;

    .Title {
      font-size: 12px;
    }
    .Note {
      font-size: 7px;
    }
  }

  @media only screen and (min-width: $mobileBreakPoint + 1) {
    padding: 45px 0 25px 0;

    .Title {
      font-size: 30px;
    }
    .Note {
      font-size: 11px;
    }
  }
}
