@import '../../shared.scss';
@import '../../assets/font/font.scss';

.AccountBreadcrumb {
  box-shadow: 0px 0px 26px rgba(228, 225, 225, 1);

  @media only screen and (max-width: $mobileBreakPoint) {
  }

  @media only screen and (min-width: $mobileBreakPoint + 1) {
    padding: 15px 20px 15px 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    border-bottom: 3px solid $brown;
    padding-bottom: 5px;
    @extend %fontSemiBold;
    color: grey;
  }

  .Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .LinkContainer {
      width: 55%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media only screen and (max-width: $mobileBreakPoint) {
      }

      @media only screen and (min-width: $mobileBreakPoint + 1) {
        font-size: 20px;
        padding-left: 150px;

        img {
          padding-left: 10px;
        }
      }
    }

    .AccountContainer {
      width: 45%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: baseline;

      .Fullname {
        @extend %fontBold;

        @media only screen and (max-width: $mobileBreakPoint) {
        }

        @media only screen and (min-width: $mobileBreakPoint + 1) {
          font-size: 20px;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
}
//   @extend %fontHeader;
//   @extend %fontBold;

//   max-width: 1103px;
//   margin-left: auto;
//   margin-right: auto;
//   display: flex;
//   flex-direction: row;
//   align-items: center;

//   @media only screen and (max-width: $mobileBreakPoint) {
//     padding: 20px 0px 20px 25px;

//     .ArrowRight {
//       padding: 0 10px;

//       > img {
//         max-width: 20px;
//       }
//     }
//   }

//   @media only screen and (min-width: $mobileBreakPoint + 1) {
//     padding: 20px 0;
//     margin-top: 45px;
//     margin-bottom: 45px;
//     border-top: 1px solid $gold;
//     border-bottom: 1px solid $gold;

//     .ArrowRight {
//       padding: 0 20px;
//     }
//   }
// }
