@import '../../shared.scss';
@import '../../assets/font/font.scss';

.MyProfile {
  .Title {
    color: $darkblue;
    padding-bottom: 5px;
    border-bottom: 1px solid $lightgrey;
  }
  .Profile {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .EditIcon {
      $size: 50px;
      position: absolute;
      right: $size/2;
      top: $size/2;
      &:hover {
        cursor: pointer;
      }
    }

    .Avatar,
    .Data {
      @extend %fontBold;
      color: $grey;
    }

    .Avatar {
      text-align: center;

      .Photo {
        $size: 155px;
        width: $size;
        height: $size;
        border-radius: $size/2;
        border: 1px solid $lightgrey;
        display: flex;
      }
    }
    .GroupProfile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;

      width: 100%;
      .GroupProfile1,
      .GroupProfile2 {
        min-width: 40%;
        .Data {
          border-bottom: 1px solid $lightgrey;
        }

        .Text {
          color: $lightgrey;
        }
      }
    }
  }

  @media only screen and (max-width: $mobileBreakPoint) {
  }

  @media only screen and (min-width: $mobileBreakPoint + 1) {
    padding-left: 150px;
    padding-right: 150px;

    .Title {
      font-size: 20px;
    }

    .Profile {
      .Avatar {
        font-size: 25px;
        .Photo {
          margin-top: 18px;
          margin-bottom: 14px;
        }
      }

      .GroupProfile {
        padding: 90px 100px 90px 150px;

        .Text {
        }

        .Data {
          padding-top: 8px;
          padding-bottom: 13px;
          margin-bottom: 13px;
        }
      }
    }
  }
}
