.layout_rank_container {
  background-image: url('../../../assets/images/game_result_background.png');
  background-size: contain;
  display: flex;
  justify-content: center;
}

.rank_header_container {
  background: transparent;
}

.table_content_container {
  background: transparent;
  width: 60.4vw !important;
  margin: auto;
  @media only screen and (max-width: 414px) {
    width: 100vw !important;
  }
}

.table_container {
  background: transparent !important;
  border-radius: 10px;
  margin: auto;
}
