.layout_rank_container {
  background-image: url('../../../assets/images/game_result_background.png');
  display: flex;
  justify-content: center;
}

.rank_header_container {
  background: transparent;
}

.content_container {
  background: transparent;
  justify-content: 'center';
  /* border: black solid 1px; */
}

.table_container {
  background: transparent !important;
  width: 825px !important;
  height: 140px !important;
  border-radius: 10px;
}
