@import "../../shared.scss";
@import "../../assets/font/font.scss";

%styleTextHeader {
  @extend %fontBold;
  color: $darkgrey;
  padding: 13px 22px;
  transform: skewX(-25deg);
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover {
    color: $brown;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
  }
  & > span {
    display: inline-block;
    transform: skew(25deg);
  }
}

.HeaderBackground {
  background-color: $gold;
  width: 100%;
}

.Header {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: $gold;
  border: none;
}

@media only screen and (max-width: $mobileBreakPoint) {
  .LowerHeader {
    display: flex;
  }
  .UpperHeaderlinks {
    display: none;
  }
}

@media only screen and (min-width: $mobileBreakPoint + 1) {
  .LowerHeader {
    display: none;
  }
  .UpperHeaderlinks {
    display: flex;
  }
}

.UpperHeader {
  background-image: url("../../assets/images/header_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: $appMaxWidth;
  margin: auto;
  width: 100%;

  .UpperHeaderlinks {
    // display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 20px;

    .NavigationContainer {
      display: flex;
      flex-direction: row;
      // padding-right: 170px;
      text-transform: uppercase;

      .NavigationLink {
        @extend %fontHeader;
        @extend %styleTextHeader;
      }
    }
    a {
      text-decoration: none;
      color: $darkgrey;
    }
    .SignInDesktop {
      color: $gold;
      border: 1px solid white;
      border-radius: 28px;
      background-color: white;
      padding: 10px 30px;
      margin-bottom: 15px;
      margin-left: 15px;
    }
  }

  .HeaderSelector {
    position: relative;
    padding: 15px 20px 80px 0;
    @media only screen and (max-width: $mobileBreakPoint) {
      padding: 15px 20px 50px 0;
      .NotificationSelector {
        float: right !important;
        margin-left: 20px;
      }
    }

    .NotificationSelector {
      position: relative;
      z-index: 999;
      float: left;
      .NotiIcon {
        width: 30px;
        img {
          max-width: 100%;
        }
        .NotiNumber {
          position: absolute;
          background-color: #2196f3;
          padding: 3px;
          border-radius: 4px;
          top: -5px;
          right: -10px;
          font-weight: 600;
          :hover {
            cursor: pointer;
          }
        }
      }
      .NotiContainer {
        position: absolute;
        width: 250px;
        top: 30px;
        right: 0;
        background: white;
        color: #707070;
        height: 350px;
        overflow-y: scroll;
        border-radius: 3px;
        padding: 10px;
        -webkit-box-shadow: 3px 3px 3px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 3px 3px 3px 3px #ccc; /* Firefox 3.5 - 3.6 */
        box-shadow: 3px 3px 3px 3px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        .NotiItem {
          padding: 10px;
          border-bottom: solid 2px white;
          &.Unread {
            background-color: #e3e4e4;
          }
          &:hover {
            cursor: pointer;
            background-color: #f6c1254a;
          }
        }

        .NotiTitle {
          font-weight: 600;
          font-size: 1.1em;
        }

        .NotiTimer {
          text-align: right;
          font-size: smaller;
        }
      }
    }

    .LanguageSelector {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      float: left;
      margin: 10px 0 0 35px;
      @media only screen and (max-width: $mobileBreakPoint) {
        > img {
          padding-left: 10px;
        }
      }

      @media only screen and (min-width: $smallMobileBreakPoint) and (max-width: $mobileBreakPoint) {
        padding: 33px 25px 33px 0;
      }

      @media only screen and (min-width: $mobileBreakPoint + 1) {
        > img {
          padding-left: 40px;
        }
      }

      img {
        z-index: 2;
      }

      &:hover {
        .LanguageSelectContainer {
          opacity: 1;
          height: 52px;
          z-index: 1;
          -webkit-box-shadow: 3px 3px 3px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          -moz-box-shadow: 3px 3px 3px 3px #ccc; /* Firefox 3.5 - 3.6 */
          box-shadow: 3px 3px 3px 3px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        }
      }
      .LanguageSelectContainer {
        opacity: 0;
        height: 0;
        position: absolute;
        top: 10px;
        background: white;
        color: #d59e29;
        padding: 5px;
        right: 25px;
        border-radius: 3px;
        text-align: center;
        transition: all 0.5s ease;

        .LanguageSelectItem {
          height: 18px;
          border-bottom: solid 1px #d59e2978;
          padding: 3px;
          &:hover {
            cursor: pointer;
          }
          &:last-child {
            margin-top: 5px;
          }
        }
      }
    }
  }
}
.LowerHeader {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  font-size: 10px;
  background-color: white;

  @media only screen and (max-width: $mobileBreakPoint) {
    border-bottom: 1px solid $darkgrey;
    display: flex;
  }

  @media only screen and (min-width: $mobileBreakPoint + 1) {
    display: none;
  }

  .SignInMobile {
    color: white;
    border: 1px solid $gold;
    border-radius: 25px;
    background-color: $gold;
    padding: 4px 12px;
  }
  a {
    text-decoration: none;
    color: white;
  }

  .NameHeaderMobile {
    color: $darkgrey !important;
  }
}

.AvatarHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  @extend %fontBold;

  @media only screen and (min-width: $mobileBreakPoint + 1) {
    padding-bottom: 7px;
    margin-left: 20px;
  }

  &:hover {
    cursor: pointer;
    .dropdown-content {
      opacity: 1;
      @media only screen and (max-width: $mobileBreakPoint) {
        height: 95px;
      }

      @media only screen and (min-width: $mobileBreakPoint + 1) {
        height: 150px;
      }
    }
  }
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;

    @media only screen and (max-width: $mobileBreakPoint) {
      height: 30px;
      width: 30px;
    }
  }
  .NameHeader {
    color: white;
    padding-left: 10px;
    @media only screen and (max-width: $mobileBreakPoint) {
      font-size: 12px;
      color: $darkgrey;
      padding-left: 5px;
      img.UserArrowDown {
        filter: invert(46%) sepia(1%) saturate(1918%) hue-rotate(82deg) brightness(94%) contrast(84%);
      }
    }
    img.UserArrowDown {
      height: 8px;
    }
  }
}

.dropdown-content {
  font-weight: 400;
  opacity: 0;
  position: absolute;
  height: 0;
  overflow: hidden;
  background-color: #d59e29;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s ease;
  @extend %fontBold;

  @media only screen and (max-width: $mobileBreakPoint) {
    top: 40px;
    right: -10px;
    padding: 5px 10px;
  }

  @media only screen and (min-width: $mobileBreakPoint + 1) {
    top: 45px;
    right: -10px;
    width: 130px;
    padding: 10px;
  }

  div {
    border-bottom: solid 1px #ffffff40;
    @media only screen and (max-width: $mobileBreakPoint) {
      padding: 5px 15px;
    }

    @media only screen and (min-width: $mobileBreakPoint + 1) {
      padding: 9px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    color: white;

    div {
      color: white;
    }
  }
}
