@import '../../shared.scss';
@import '../../assets/font/font.scss';


%FooterTitle {
  font-family: 'Poppins-SemiBold';
  @media only screen and (max-width: $mobileBreakPoint) {
    font-size: 9px;
  }
  @media only screen and (min-width: $mobileBreakPoint + 1) {
    font-size: 18px;
  }

}

.Footer {
  background-image: url('../../assets/images/footer_background.svg');
	background-size: cover;
  display: flex;
  flex-direction: row;
  color: white;
  
}

.FooterLogo {
  width: 35%;
}

.FooterInfo {
  width: 65%;
}

.UpperFooterInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  .NavigationLink {
    @extend %FooterTitle;
    
  }
  .FooterContact {
    .Title {
      @extend %FooterTitle;
    }
  }

  .FooterPlugin {
    .Title {
      @extend %FooterTitle;
    }
  }


  text-align: center;
  @media only screen and (max-width: $mobileBreakPoint) {
    padding: 10px 15px 0 0;
  }
  @media only screen and (min-width: $mobileBreakPoint + 1) {
    padding: 35px 130px 0 0;
  }
}


.LowerFooterInfo {
  text-align: center;
  font-family: 'Poppins-Medium';
  @media only screen and (max-width: $mobileBreakPoint) {
    padding: 8px 0;
    font-size: 5px;
  }
  @media only screen and (min-width: $mobileBreakPoint + 1) {
    padding: 20px 0;
    font-size: 10px;
  }
}


