@import './shared.scss';

.App {
  @extend %fontText;
  @extend %fontRegular;
  color: $darkgrey;
  -webkit-backface-visibility: hidden;
  transform: perspective(0px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Content {
  max-width: $appMaxWidth;
  margin: auto;
}
