@import './shared.scss';

.App {
  @extend %fontText;
  @extend %fontRegular;
  color: $darkgrey;
  -webkit-backface-visibility: hidden;
  transform: perspective(0px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Content {
  max-width: $appMaxWidth;
  margin: auto;
}

.css-0 div {
  background-color: #ffffff;
}

._loading_overlay_overlay {
  position: fixed !important;
  z-index: 98 !important;
}

.Toastify__toast-container {
  position: absolute !important;
  z-index: 999 !important;
}

input[type='text'],
input[type='number'],
input[type='password'] {
  border: 1px solid $lightgrey !important;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16) !important;
}

input[type='submit'] {
  border: none;
}

.Toastify {
  position: sticky;
  top: 0;
  z-index: 99999;
}
