@import '../../shared.scss';
@import '../../assets/font/font.scss';

%LoginHeader {
  @extend %fontExtraBold;
  color: $brown;
  @extend %fontHeader;
  text-align: center;
}
.LoginPopup {
  @media only screen and (max-width: $mobileBreakPoint) {
    width: 80%;
  }

  @media only screen and (min-width: $mobileBreakPoint + 1) {
    width: 850px;
    height: 450px;
    margin: auto;
  }

  .Container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .Signin,
    .Signup {
      width: 50%;
      .Title {
        span {
          @extend %LoginHeader;
        }
      }
    }
  }
}
