
.ruleGame__container {
    height: 595px !important;
    width: 1366px !important;
    background-color: white;
    border: black solid 1px;
    display: flex !important;
    justify-content: center !important;
}

.header_container {
    background-color: white;
    border: red solid 1px;
    height: 203px !important;
    width: 1089.5px !important;
    margin-left: 142px;
}

.content_container {
    background-color: white;
    margin-left: 142px;
    width: 1087px !important;
}

.child_header_container {
    background-color: white;
}

.main_content_container {
    background-color: white;
}

.header__divider {
    padding: 0 0 0 0;
}

.tabPanel__container {
    border: wheat solid 1px;
    height: 255px !important;
}