.main_game__container {
  height: 56.72vh !important;
  width: 100vw !important;
  background-color: white;
  display: flex !important;
  justify-content: center !important;
  overflow: scroll;
  margin-bottom: 6.2vh;
}

.header_container {
  width: 100vw !important;
  background-color: white;
  border-bottom: #d59e29 solid 1px;
  border-top: #d59e29 solid 1px;
  height: 6.52vh !important;
  margin-left: 0px;
  margin-top: 3.46vh;
  justify-content: flex-end;
  display: flex;
}

.content_container {
  background-color: white;
  width: 100vw !important;

}

.child_header_container {
  background-color: white;
}

.main_content_container {
  background-color: white;
}

.header__divider {
  padding: 0 0 0 0;
}

.tabPanel__container {
  height: 50.68vh !important;
  overflow: scroll;
}

.ant-tabs-nav-scroll {
  display: flex;
  justify-content: center;
}
